.page-headers{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}